<html>
  <meta charset="utf-8"/>
  <title>FIMP
  </title>
  <style>
    h1{
      color:#84f30c;
      font-size: 22pt;
    }
    table{
      font-size: 15pt;
    }
    h1,table{
      font-family: sans-serif;
      ;
    }
    body{
      color:white}
    img{
      width: 40%;
      margin-right: 35%}
    div{
      background-color: black;
      width: 50%;
      height: 100px;
      float:left;
      text-align: right;
    }
  </style>
  <body bgcolor="black">
    <font face="Arial" color="green">
      <center>
        <h1>
          <b>FIMP - Fake Identity Maker Pro
          </b>
        </h1>
      </center>
    </font>
    <center>
      <form action="result">
        <label for="gender">
          <font face="Arial" color="white">
            <h3>
              <b>Geschlecht:
              </b>
            </h3>
          </font>
        </label>
        <select name="gender">
          <option value="w">Weiblich
          </option>
          <option value="m">Männlich
          </option>
        </select>
        <br>
        <br>
        <br>
        <br>
        <input type="submit" name="generate" value="Generieren">
      </form>
    </center>
  </body>
</html>

